<section class="w-full min-h-[80vh] grid grid-cols-2 items-center justify-center gap-4">

   <main class="flex flex-col items-center justify-center w-full h-full gap-4">
    <h1 class="poppins-black text-[2.25rem] text-center text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-indigo-500 ">Create, Edit and Delete Articles</h1>
    <p class="text-[1.2rem] roboto-bold dark:text-white text-justify w-[50%]">Manage your own notes saved on the cloud using Amazwibela, an articles or notes platform.</p>
    <a href="/articles" class="text-right px-10 py-4 bg-gradient-to-r from-purple-600 to-indigo-900 text-white rounded-full shadow shadow-md hover:ring-[1px] hover:ring-indigo-500 hover:bg-gradient-to-l roboto-medium text-sm">Get Started</a>
   </main>

   <main class="flex flex-col items-center justify-center w-full h-full">
    <img src="./img/undraw_outer_space_re_u9vd.svg" alt="Outer Space" class="h-[70%]">
   </main>

</section>
